.todoItem {
  margin: 5px;
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
}

.menu-card {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 5px;
  margin-right: 10px;
}
/* .carta {
  background-color: cadetblue;
}
.card-body {
  background-color: cadetblue;
} */
